header {
    position: fixed;
    width: 20vw;
    height: 100vh;
    margin-left: 2%;
    z-index: 5;
}

header .container {
    position: absolute;
    padding: 0 5px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--header-tris);
    box-shadow: 3px 4px 20px 3px black;
    text-align: center;
}

header img {
    width: 100%;
}

.logo {
    width: 60%;
}

.photo {
    padding: 20px 0;
    width: 60%;
    margin: 0 auto;
}

.photo img {
    border-radius: 50%;
    border: 2px solid var(--link-color);
    box-shadow: 6px 4px 19px black;
}

#job {
    font-size: 36px;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
    transition: all .2s ease-in;
}

nav a {
    display: block;
}

a:hover {
    color: var(--red-color);
    text-shadow: 0 0 0;
}

nav ul li a {
    margin: 15% 0;
    padding-bottom: 5px;
    text-shadow: 4px 5px 2px black;
}

.quoteContainer {
    display: flex;
    align-items: center;
    height: 15%;
}

.quote {
    opacity: 0;
    transition: all 1s linear;
}

.quote.in {
    opacity: .5;
}

.socialNet ul {
    margin: 15% 0;
    display: flex;
}

.socialNet ul li a {
    margin: 0 auto;
    width: 30%;
}

.socialNet img {
    width: 30%;
}